.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    padding: 92px 24px 90px;
    padding-bottom: 90px;
    font-size: 18px;
    font-weight: 400;
}

.header-menu {
    list-style-type: circle;
}

.menu {
    display: flex;
    width: 391px;
    padding-top: 44px;
    border: 1px;
    margin: auto;
	gap: 30px;
    justify-items: stretch;
    padding-bottom: 40px;
}

.header__links-list-item_no-bullit {
    list-style-type: none;
    text-decoration: none;
}

.header-img {
    width: 148px;
    height: 105px;
}

.header-address {
    justify-self: end;
    padding-top: 5px;
    margin-right: 32px;
}

.address {
    font-family: Raleway, sans-serif;
    border: 1px;
    font-size: 18px;
    font: inherit;
    justify-items: start;
    line-height: 23px;
    padding-right: 30px;
    padding-top: px;
}

.cover {
    background-image: url(../images/lotus-flower.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    position: relative;
    z-index: 2;
    background-position: center;
    margin-bottom: 0px;
    min-height: 757px;
}

.overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
    width: 100%;
    height: 100%;
}

.cover-title {
    color: #ffffff;
    font-size: 100px;
    font-weight: 700;
    padding: 165px 50px 0px 50px;
    width: 1000px;
    text-transform: uppercase;
    z-index: 2;
}

.cover-title-item {
    display: flex;
    letter-spacing: 30px;
    word-spacing: 20px;
    width: 1000px;
}

.aligned-text-center {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.aligned-text-right {
    display: flex;
    justify-content: right;
}

.letter-spacing-extended {
    letter-spacing: 60px;
}

.no-letter-spacing {
    letter-spacing: 0px;
}

.cover__description {
    display: flex;
    color: #ffffff;
    align-items: center;
    z-index: 2;
    justify-content: space-between;
    padding-left: 78px;
    padding-bottom: 6px;
}

.cover-description-text {
    text-transform: uppercase;
    font-size: 22px;
    word-spacing: 20px;
    font-weight: 400;
}

.bet-button {
    text-transform: uppercase;
    font-size: 22px;
    background-color: transparent;
    color: #ffffff;
    margin-right: 50px;
    height: 51px;
    font-weight: 500;
    outline: solid;
    outline-width: 1px;
    text-align: center;
    width: 256px;
    font-family: Raleway, sans-serif;
}

.lots {
    padding-top: 179px;
    padding-left: 24px;
    padding-right: 24px;
}

.lots-heading {
    font-weight: 700;
    font-size: 40px;
    color: black;
    line-height: 46.96px;
    text-transform: uppercase;
    padding-left: 40px;
}

.lots-card-list {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    padding-top: 28px;
    width: 100%;
    z-index: 2;
    gap: 25px;
    margin-bottom: 30px;
}

.lots-card-list-item {
    position: relative;
}

.card-title {
    text-decoration: underline;
    text-transform: uppercase;
    padding: 51px 40px 0px;
    color: #ffffff;
    font-weight: 700;
    font-size: 22px;
    z-index: 2;
    position: relative;
    text-decoration-thickness: 1px;
}

.card-text {
    color: #ffffff;
    font-size: 20px;
    padding-left: 40px;
    padding-right: 40px;
    z-index: 2;
    position: relative;
}

.card-type-film {
    background-image: url(../images/photo.png);
}

.card {
    width: 334px;
    min-height: 564px;
    display: grid;
    align-content:space-between;
    padding-bottom: 45px;
}

.card-type-book {
    background-image: url(../images/photo1.png);
}

.card-type-picture {
    background-image: url(../images/photo2.png);
}

.card-link {
    align-items: center;
    display: block;
    width: 100%;
}

.lots-look-more-link {
    text-decoration: underline;
    font-size: 20px;
    font-weight: 400;
    padding-left: 40px;
    padding-top: 30px;
}

.about {
    padding: 183px 20px 180px 20px;
}

.about-logo {
    background-color: black;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    display: flex;
    grid-area: logo;
    justify-items: center;
    justify-self: center;
}

.about-logo-image {
    width: 148px;
    height: 114px;
    margin: auto;
}

.about-colum {
    display: grid;
    padding-left: 10px;
    width: 100%;
    grid-template-columns: 320px 2fr;
    grid-template-areas:
        "logo title"
        " . text"
        " . text-two";
}

.about-title {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
    grid-area: title;
    align-self: center;
    padding-left: 31px;
    padding-top: 10px;
}

.about-text-two {
    grid-area: text-two;
    font-size: 20px;
    font-weight: 400;
    padding-left: 30px;
    line-height: 24px;
    padding-top: 24px;
    letter-spacing: 4%;
    word-spacing: 1px;
}

.about-text {
    grid-area: text;
    font-size: 20px;
    font-weight: 400;
    align-self: center;
    padding-left: 30px;
    line-height: 24px;
    padding-top: 8px;
    letter-spacing: 4%; 
    word-spacing: 2px;
}

.footer {
    display: grid;
    font-size: 18px;
    font-weight: 400;
    grid-template-columns: 1fr 1fr 1fr;
    width: 1000px;
    justify-items: center;
    padding-top: 1px;
    border: 1px;
}

.footer-list {
    list-style-type: none;
    text-align: center;
    padding-left: 97px;
}

.network {
    list-style-type: none;
    width: 48px;
    min-height: 48px;
    display: flex;
    gap: 50px;
    justify-content: start;
}
